<span>{{ title }} app is running!</span>
<div>
  <input
    #newPerson
    (keyup.enter)="onAdd(newPerson.value); newPerson.value = ''"
  />
  <!--(blur)="onAdd(newPerson.value); newPerson.value = ''"-->
  <button (click)="onAdd(newPerson.value); newPerson.value = ''">add</button>
</div>
<table border="1">
  <tr>
    <th>ID</th>
    <th>DATA</th>
  </tr>
  <tr *ngFor="let x of all">
    <td>{{ x.id }}</td>
    <td>{{ x.data }}</td>
    <td><button (click)="del(x.id)">del</button></td>
  </tr>
</table>
<div><button (click)="getAll()">refresh</button></div>
